.edit-topic {
    position: absolute;
    right: 38%;
    bottom: 38%;
    background: white;
    box-shadow: 0 0 2px grey;
    border-radius: 7px;
    top: 36%;
    left: 36%;
}

.topic-title {
    text-align: center;
    margin-top: 20px;
}

.input-container {
    max-width: 300px;
    margin: 0 auto;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

button {
    margin-left: 5px!important;
}