.Navigation-text {
    font-size: 1.3em;
    font-weight: bold;
    color: #2CA2EF;
}

.Navigation-container {
    height: 80vh;
    border-radius: 9px;
    box-shadow: 0 0 5px grey!important;
    overflow-y: auto;
    overflow-x: hidden;
    position: fixed;
    max-width: 300px;
}

.logout {
    color: red;
}

.logout:hover {
    color: red!important;
}