.Navigation-text {
    font-size: 1.3em;
    font-weight: bold;
    color: #2CA2EF;
}

.Navigation-container {
    height: 100vh;
    border-radius: 9px;
    box-shadow: 0 0 5px grey!important;
}

.ant-layout-sider-zero-width-trigger {
    position: absolute;
    top: 0!important;
}
