.Navigation-content {
    background-color: #f8f8f8!important;
}

.Navigation-text {
    font-size: 1.3em;
    font-weight: bold;
    color: #000;
}

.Navigation-container {
    background-color: #f8f8f8!important;
    height: 100vh;
    padding-top: 50px;
}

.ant-layout-sider-zero-width-trigger {
    position: absolute;
    top: 0!important;
}
