header {
    background-color: #f8f8f8!important;
}

.Header-brand {
    font-size: 18px;
    color: #777;
    height: 50px;
    font-weight: bold;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.Header-brand span {
    line-height: 50px;
}

.Header-icons {
    margin-left: 10px;
    margin-top: 10px;
}

.Header-flags-container {
    float: right;
    height: 50px;
    margin-top: 15px;
}

.Header-flags-container img {
    width: 30px;
    height: 20px;
    margin-left: 20px;
}

.Header-logo {
    width: 50px;
}
