header {
    background-color: #1C9BF7!important;
}

.Header-brand {
    font-size: 18px;
    color: #fff;
    height: 50px;
    font-weight: bold;
}

.Header-brand span {
    line-height: 50px;
}

.Header-logo {
    width: 50px;
    margin-right: 10px;
}
