@import '~antd/dist/antd.css';


.App-sider {
    background: none;
    position: relative;
    left: 30px;
    top: 30px;
}

.App-content {
    padding: 30px 50px;
}

.App-layout {
    background-color: #ffffff;
}

.manage-users-title {
    text-align: center;
    font-size: 22px;
    margin-bottom: 20px;
}
